# macOS
.DS_Store

# Node
node_modules/
dist/
*.log
TP-Final/onco_bridge_c1/.env
TP-Final/onco_bridge_c1/.env.example
TP-Final/.env.example
TP-Final/presentation_materials/OncoBridgeAI_guion_gamma.docx
TP-Final/presentation_materials/OncoBridgeAI_presentacion_comparativa.pptx
C:\Users\matia\Desktop\IA generativa\ia-biomed-Mati\entrega1\.env